body {
  font-family: "Playpen Sans", sans-serif;

  display: flex;
  align-items: center;

  flex-direction: column;

  margin: 1vh 1vw;

  color: #6510a1;

  font-size: x-large;
}

#projects {
  margin-top: 2vh;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 1vh 1vw;
  padding: 0 6px;
  max-width: 30%;
  width: auto;

  border: 3px dashed #fdb927;
  border-radius: 24px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.project > * > img {
  border-radius: 16px;
}

img {
  max-width: 100%;
}

a {
  color: #fdb927;
}

a:hover {
  color: #6510a1;
}

a:visited {
  color: #6510a1;
}
